@model IList<SubscriptionModel>

@{
    ViewData["Title"] = "Home Page";
}

<div style="padding:30px">
    <h1 class="display-4">Select Subscription </h1>
    <p style="padding: 20px"> </p>
    <p> Subscriptions available for the Selected the Account:</p>
    <select name="subscription" id="subscription-select">
        @{
            foreach (var item in Model)
            {
                <option value="@item.Id">@item.Name</option>
            }
        }
    </select>

    <p style="padding: 20px"> </p>
    @*<a asp-controller="Hub" asp-action="Select">Select IoT Hub</a>*@
</div>
