@model AccountModel

@{
    ViewData["Title"] = "Azure Login";
}
<div style="padding:30px">
    <h1 class="display-4">Azure Account Information</h1>
    <p style="padding: 20px"> </p>
    <p>You are signed in into Azure</p>
    <p>User: @Model.User.Name </p>
    <a asp-controller="Login" asp-action="SignIn">Sign in as another user</a>
    <p style="padding: 20px"> </p>
    <p>Select the link below to Choose Subscription.</p>
    <a class="btn btn-primary" asp-controller="Subscription" asp-action="Select" role="button">Select Subscription</a>
</div>
