@model ConfigurationViewModel

@{
    ViewData["Title"] = "IoT Hub";
}

@section scripts {
    <script type="text/javascript">
        function hide() {
            let x = document.getElementById("spinner");
            x.style.display = "block";
            let y = document.getElementById("submit");
            y.disabled = true;
            // y.style.display = "none";
        }

    </script>
}

<div style="padding:30px">
    @{

        <h1 class="display-4">Configuration </h1>
        <p style="padding: 20px"> </p>
        <p> Connection String:</p>
        <label>@Model.ConnectionString</label>
        <form asp-action="RunScript" asp-controller="Configuration" >
            <p style="padding: 20px"> </p>

            <input id="submit" type="submit" value="configure on device" />
        </form>

    }
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" style="display: none" id="spinner">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>